WIFI_SSID = 'YOUR_WIFI_SSID'
WIFI_PASSWORD = 'YOUR_WIFI_PASSWORD'
STAND_ALONE = False
MQTT_BROKER = "YOUR_MQTT_BRORKER_IP"
MQTT_PORT = 1883
MQTT_CLIENT_ID = "YOUR_CLIENT_ID"
MQTT_PUBLISH_TOPIC = "YOUR_TOPIC"